{%- capture navitemtitle -%}
  {%- if slug == 'commercial' -%}
    {{ site.data.lang-uk.title_tab_commercial }}
  {%- elsif slug == 'realtor' -%}
    {{ site.data.lang-uk.title_tab_realtor }}
  {%- else -%}
    {%- if one.navtitle -%}
      {{ one.navtitle }}
    {%- elsif one.breadcrumb -%}
      {{ one.breadcrumb }}
    {%- else -%}
      {{ one.title }}
    {%- endif -%}
  {%- endif -%}
{%- endcapture -%}
{%- if url contains '/all.html' -%}
  {%- if dir == current or one.url contains url and page.navhide != 1 -%}
    {%- if one.url contains here and one.url contains '/all.html' or one.url contains '/list.html' and one.navhide != 1 -%}
    {%- else -%}
      <li class="nav-item">
        {%- if one.url == url or one.url contains dir -%}
          {%- if url contains '/map.html' -%}
            <a href="{{ one.url | remove: 'index.html' }}" class="nav-link border-0">
              <span>{{ navitemtitle }}</span>
            </a>    
          {%- else -%}
            <span class="nav-link border-0 active">
              <span>{{ navitemtitle }} // #0</span>
            </span>
          {%- endif -%}
        {%- else -%}
          <a href="{{ one.url | remove: 'index.html' }}" class="nav-link border-0">
            <span>{{ navitemtitle }}</span>
          </a>
        {%- endif -%}
      </li>
    {%- endif -%}
  {%- endif -%}
{%- else -%}
  {%- if one.url contains here and one.url contains '/all.html' or one.url contains '/list.html' and one.navhide != 1 -%}
  {%- else -%}
    {%- if here == current and one.url contains here and one.navhide != 1 -%}
      <li class="nav-item">
        {%- if one.url == url or one.url contains dir -%}
          {%- if url contains '/map.html' -%}
            <a href="{{ one.url | remove: 'index.html' }}" class="nav-link border-0">
              <span>{{ navitemtitle }}</span>
            </a>    
          {%- else -%}
            <span class="nav-link border-0 active">
              <span>{{ navitemtitle }}</span>
            </span>
          {%- endif -%}
        {%- else -%}
          <a href="{{ one.url | remove: 'index.html' }}" class="nav-link border-0">
            <span>{{ navitemtitle }}</span>
          </a>
        {%- endif -%}
      </li>
    {%- endif -%}
  {%- endif -%}
{%- endif -%}
