
{%- assign url = include.url -%}
{%- assign region = include.region -%}
{%- assign ss = '' | split:'' -%}
{%- assign ps = site.html_pages | sort: 'path' | reverse -%}
{%- for i in ps -%}
  {%- assign l = i.dir | split: '/' -%}
  {%- if i.dir contains url and i.dir != url and i.title != '' and l.size == 4 or l.size == 5 -%}
    {%- assign ss = ss | push: i -%}
  {%- endif -%}
{%- endfor -%}
{%- if ss.size > 0 -%}
<div class="menu pt-1">
  <nav class="navbar p-0">
    <button title="{{ site.data.lang-uk.sections }}" class="navbar-toggler shadow-none collapsed" type="button" data-toggle="collapse" data-target="#{{ region }}-re-section" aria-controls="{{ region }}-re-section" aria-expanded="false" aria-label="Кнопка перемикання">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="section border-top-1 px-2 collapse navbar-collapse" id="{{ region }}-re-section">
      <ul class="navbar-nav">
        {%- for s in ss -%}
          {%- assign slug = s.dir | split: '/' | last -%}
          {%- assign current = s.dir | remove: slug | replace_first: '//', '/' -%}
          {%- if url == current and s.navhide != 1 and s.title != '' and url contains '/index.html' -%}
            {%- include home/navitem.html -%}
          {%- else -%}
            {%- include home/navitem.html -%}
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
  </nav>
</div>
{%- endif -%}