<nav aria-label="Навігація по оголошенчях">
    <ul class="pagination">
    {%- for item in estates -%}
        {%- assign index_prev = index | minus: 1 -%}
        {%- assign index_next = index | plus: 1 -%}
        {%- if forloop.index == index_prev -%}
          {%- assign prev = item -%}
          <li class="page-item">
            <a class="page-link page-pre" href="{{ prev.url }}" aria-label="Попередній оголошення" title="{{ prev.title }}">
              <span aria-hidden="true">❮</span>
              <span class="sr-only">Попередня сторінка</span>
            </a>
          </li>
        {%- endif %}
        {%- if forloop.index == index_next and page.url != page.dir -%}
          {%- assign next = item -%}
          <li class="page-item">
            <a class="page-link page-next" href="{{ next.url }}" aria-label="Наступний оголошення" title="{{ next.title }}">
              <span aria-hidden="true">❯</span>
              <span class="sr-only">Наступна сторінка</span>
            </a>
          </li>
        {%- endif %}
    {%- endfor -%}
    </ul>
</nav>
