{%- assign 2s = site.html_pages | sort: 'path' | where_exp: 'i', 'i.dir contains include.current' -%}
{%- if 2s.size >= 1 -%}
<ul class="list-unstyled">
  {%- for 2 in 2s -%}
    {%- assign slug = 2.dir | split: '/' | last -%}
    {%- assign current = 2.url | remove: slug | remove: '//' | append: '/' -%}
    {%- if include.current == current and 2.navhide != 1 and 2.title != '' -%}
    <li class="mb-2">
      {%- if 2.url == page.url -%}
        <span>{{ 2.navtitle }}</span>
      {%- else -%}
        <a href="{{ 2.url }}">{{ 2.navtitle }}</a>
      {%- endif -%}
      {%- include map/2.html current=2.dir -%}
    </li>
    {%- endif -%}
  {%- endfor -%}
</ul>
{%- endif -%}
