{%- assign slug = dir | split: '/' | last -%}
{%- capture aid -%}2{%- increment counter -%}{%- endcapture -%}
{%- assign properties = paginator.posts -%}
{%- for property in properties -%}
  {%- if forloop.first -%}
  <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 mx-n2">
  {%- endif -%}
    <div class="col px-2 mb-3">
        {%- include grid/item.html offer=property slug=slug aid=aid -%}
    </div>
  {%- if forloop.last -%}
  </div>
  {%- endif -%}  
{%- else -%}
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="alert alert-info" role="alert">{{ site.data.uk.property_list_empty }}</div>
    </div>
  </div>
{%- endfor -%}
{%- include grid/pagination.html cat=page.pagination.category -%}


{% comment %}

{%- include grid/items.html -%}

{%- for offer in offers limit:9 -%}

{%- if forloop.first -%}
  <div class="row mx-n2 row-cols-1 row-cols-lg-3 row-cols-md-2 row-cols-sm-2">
{%- endif -%}

    <div class="col px-2 mb-3">
      {%- include card.html offer=offer aid=aid -%}
    </div>

{%- if forloop.last -%}
  </div>
  {%- assign total = offers | size -%}
  {%- assign others = total | minus:9 -%}
  {%- if others > 0 -%}
    <div class="float-right btn-group">
      <a class="btn btn-sm btn-primary" href="{{ content.url }}">
        {{ site.data.uk.others }} <strong>{{ others }}</strong> {{ site.data.uk.others_section }} {{ content.navtitle }}
      </a>
    </div>
  {%- endif -%}
{%- endif -%}

{%- else -%}
<div class="row">
  <div class="col-md-6 offset-md-3">
    {%- include none-advertisement.html title=page.title -%}
  </div>
</div>
{%- endfor -%}

{% endcomment %}