---
layout: default
---
{%- include price.html -%}
{%- include price-name.html -%}
{%- assign back = page.url | split: '/' -%}
{%- assign size = back | size | minus: 2 -%}
{%- assign back_dir = back | slice: 0, size | join: '/' | append: '/' -%}
{%- assign index = site.html_pages | sort: 'dir' | where_exp: 'i', 'i.url == back_dir' -%}
{% assign addtitle = index[0].title | split: ' ' | slice: 1, 4 | join: ' ' %}
{% assign region = back_dir | split: '/' | last %}
{%- include price-name.html -%}

<div class="row">
  <div class="col-12">

    <div class="d-flex justify-content-end">
      {%- include navsection-re.html region=region url=back_dir -%}
    </div>

    <h1>{{ page.title }} {{ addtitle }}, {{ price_name }} <span class="badge badge-primary">{{ price }}&nbsp;₴</span></h1>
    <hr>
    {%- include seo-tags.html type=page.type rent=page.rent -%}
    <hr>
    {% include thanks-please.html %}
    {%- capture folder -%}/assets/images/{{ page.phone }}/{{ page.uid }}/{%- endcapture -%}
    {%- assign files = site.static_files | where_exp: 'i', "i.path contains folder and i.extname == '.jpg' or i.extname == '.jpeg'" -%}
    {%- assign isImage = files | strip_newlines -%}
    {%- if isImage -%}{%- include grid/images.html files=files folder=folder -%}{%- endif -%}

    <h2 class="mt-2">Основні характеристики</h2>

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
      <div class="col">

        <dl class="properties">
          <dt>Тип нерухомості що продається</dt>
          <dd>{{ page.type }}</dd>

          {%- if page.rooms -%}
            <dt>Кількість кімнат</dt>
            <dd>У об'єкта {% include rooms.html rooms=page.rooms -%}</dd>
          {%- endif -%}

          {%- if page.surface -%}
            <dt>Загальна площа об'єкта нерухомості</dt>
            <dd>{{ page.surface }} метрів квадратних (м²)</dd>
          {%- endif -%}

          {%- if page.surface_land -%}
            <dt>Загальна площа земельної ділянки</dt>
            <dd>{{ page.surface_land }} метрів квадратних (м²) ({{ page.surface_land | divided_by: 10000.0000 | round: 4 }} га)</dd>
          {%- endif -%}

          {%- if page.floor -%}
            <dt>Поверх на якому знаходиться об'єкт нерухомості</dt>
            <dd>Розташовано на {{ page.floor }}-му поверсі споруди</dd>
          {%- endif -%}

          {%- if page.floors -%}
            <dt>Кількість поверхів у об'єкта нерухомості</dt>
            <dd>У будинку {% include floors.html floors=page.floors %}</dd>
          {%- endif -%}

          {%- if page.address or page.location or page.region -%}
          <dt>Адреса</dt>
          <dd{% if page.object %} class="mb-0"{% endif %}>
            {%- if page.coordinates -%}
              <a class="marker" data-coord="{{ page.coordinates }}" data-toggle="modal" data-target="#mapa" href="#mapa" rel="nofollow" aria-haspopup="true" aria-expanded="false" aria-label="{%- if page.rent == 1 -%}{{ site.data.lang-uk.re_object_rent }}{%- else -%}{{ site.data.lang-uk.re_object_sell }}{%- endif -%} {{ site.data.lang-uk.re_on_map }}">
                {{ page.address }}{% if page.location %}, {{ page.location }}{% endif %}{% if page.region %}, {{ page.region }}{% endif %}
              </a>
            {%- else -%}
              {{ page.address }}{% if page.location %}, {{ page.location }}{% endif %}{% if page.region %}, {{ page.region }}{% endif %}
            {%- endif -%}
          </dd>
          {% if page.object %}<dd>Житловий комплекс "{{ page.object }}"</dd>{% endif %}
          {%- endif -%}

        </dl>

      </div>
      <div class="col">

        <dl class="properties">

          <dt>{% if page.rent %}Орендодавець{% else %}Продавець{% endif %}</dt>
          <dd><a href="{{ site.url }}/region/{{ site.region_slug }}/?id={{ page.phone }}" title="{{ site.data.lang-uk.offers }}">{{ page.seller }}</a></dd>

          <dt>Контакти {% if page.rent %}орендодавеця{% else %}продавця{% endif %}</dt>
          <dd>{%- include footer/phone.html legal=page.phone type='property' -%}</dd>

          <dt>Виставлено на продаж у <a href="{{ site.main_url }}" target="_blank">Мережі Вебсайтів Нерухомості</a></dt>
          <dd>{%- include date.html date=page.date -%}</dd>

          {%- if page.last_modified_at -%}
            <dt>Останнє оновлення оголошення</dt>
            <dd>{%- include date.html date=page.last_modified_at -%}</dd>
          {%- endif -%}

          {%- if page.price or page.price_sqmt -%}
            <dt>Вартість нерухомості</dt>
            <dd class="mb-0">{% if page.last_modified_at %}Станом на {% include date.html date=page.last_modified_at %}, ціна {% endif %}{{ price }} гривень</dd>
            {% if in_price contains '$' or in_price contains '€' %}
              <dd class="mb-0">Ціна в іноземній валюті {{ symbol }}
                {%- assign price = price | remove: '&nbsp;' | divided_by: rate | ceil -%}
                {%- include numf.html number=price ts='&nbsp;' decimals=0 -%}
              </dd>
            {% else %}
              <dd class="mb-0">Ціна в іноземній валюті $
                {%- assign price = price | remove: '&nbsp;' | divided_by: rate | ceil -%}
                {%- include numf.html number=price ts='&nbsp;' decimals=0 -%}
              </dd>
            {% endif %}
            <dd>Конвертовано за курсом {% if in_price contains '$' %}{{ rate }}{% elsif in_price contains '€' %}{{ rate }}{% else %}{{ rate }}{% endif %} гривень за {% if in_price contains '$' %}{{ symbol }}1{% elsif in_price contains '€' %}{{ symbol }}1{% else %}$1{% endif %}</dd>
          {%- endif -%}

        </dl>

      </div>
    </div>

    {%- assign isContent = content | strip_newlines -%}
    {%- if isContent == '' -%}
      <hr>
      <h2>Опис</h2>
      <p>{{ page.description }}</p>
    {%- else -%}
      <hr>
      <h2>Опис</h2>
      {% if page.description != '' %}<p>{{ page.description }}.</p>{% endif %}
      {{ content }}
    {%- endif -%}

    {% comment %}
    <h2>За цією адресою продається ще нерухомість</h2>

    <h2>На цій вулиці продають іншу нерухомість</h2>

    <h2>У цього продавця є інші оголошення</h2>
    {% endcomment %}

    {%- assign size = back | size | minus: 1 -%}
    {%- assign back_dir = back | slice: 0, size | join: '/' | append: '/' -%}
    {%- assign index = site.pages | sort: 'dir' | where_exp: 'i', 'i.dir == back_dir' -%}
    <hr>
    <div class="row">
      <div class="col-10 pt-2">
        <span class="mr-1">&larr;</span><a href="{{ back_dir }}">{{ site.data.lang-uk.to_section }} {{ index[0].title | downcase }}</a>
      </div>
      <div class="col-2">
        {%- assign estates = site.posts | where_exp: 'i', 'i.url contains back_dir' -%}
        {%- assign index = 0 -%}
        {%- for item in estates %}{%- if item.url == page.url %}{%- assign index = forloop.index -%}{%- endif %}{%- endfor -%}
        {%- include pagination-re.html -%}
      </div>
    </div>

  </div>
</div>
